header{
    padding: 0px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
}
nav{
  padding:20px;
  color:white !important;
  z-index: 999;
  justify-content: flex-end!important;
  background-color: rgb(50, 8, 90);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
nav li{
  font-size: large;
  font-weight: 500px;
  margin: 5px;
}
.navbar-toggler-icon{
  color:white !important;
}
li a{
  color:white !important;
  font-size: 20px;
  font-family: Cambria Math;
}

.page-holder {
  min-height: 100vh;
  background-attachment: fixed !important;
  background-size: cover !important;
}
.nav-item a:hover{
  color: rgb(238, 122, 13) !important;  
}
 .portfolio{
  text-align: center !important;
   color:white;
   text-transform: uppercase;
 }
 .imgtext{
  text-align: center !important;
  color:white;
  padding-top: 200px; 
  text-align: center !important;
  padding-bottom: 160px;
 }
 .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 10px;
  color: rgb(16, 7, 102);
  background: #f9fdfb;
}
.btn-get-started:hover {
  background: rgb(50, 8, 90);
  color: #fcfcf5;
}
.font{
  font-family: pristina;
  font-size: 20px;
}
#font2{
  font-family: Cambria Math;
}
.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 25px;
  padding-top:50px ;
}
.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
  margin-bottom: 15px;
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
  margin-bottom: 15px;
}

.icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #0a0442;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: 278px;
  transition: 0.3s;
}
.img1{
  object-fit: cover;
  height:300px;
  width:100%;
  margin:1px;
}
.img2{
  object-fit: contain;
  height:200px;
  width:100%;
  margin:0px;
}
.img2:hover {
  background: rgb(252, 251, 253);
}

.icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
  padding-top: 5px;
}
.buttn{
  background-color: rgb(50, 8, 90) !important;
  color: rgb(254, 254, 255);
  font-weight: bolder;
}
.buttn:hover {
  background-color:white ;
  color: rgb(141, 88, 8);
}
footer{
  background-color: rgb(50, 8, 90);
  color:white;
  font-family: pristina;
  padding:20px;
  text-align: center;
}
h4.card-title{
  text-align: center;
}
.img3{
  margin-left: 36%;
  position: relative;
}